In [1]:
import pandas as pd

In [2]:
csv_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [3]:
iris = pd.read_csv(csv_url, header = None)

In [4]:
col_name = ['Sepal_Length','Sepal_Width','Petal_Length','Petal-Width','Species']

In [5]:
iris = pd.read_csv(csv_url, names = col_name)

In [6]:
df1=df=iris

In [7]:
iris.head(15)

    Sepal_Length  Sepal_Width  Petal_Length  Petal-Width      Species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa

In [8]:
iris.tail(6)

     Sepal_Length  Sepal_Width  Petal_Length  Petal-Width         Species
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [9]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [10]:
iris.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal-Width',
       'Species'],
      dtype='object')

In [11]:
iris.shape

(150, 5)

In [12]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal-Width     float64
Species          object
dtype: object

In [13]:
iris.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal-Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
iris.columns.values

array(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal-Width',
       'Species'], dtype=object)

In [15]:
iris.iloc[8]

Sepal_Length            4.4
Sepal_Width             2.9
Petal_Length            1.4
Petal-Width             0.2
Species         Iris-setosa
Name: 8, dtype: object

In [16]:
iris[47:51]

    Sepal_Length  Sepal_Width  Petal_Length  Petal-Width          Species
47           4.6          3.2           1.4          0.2      Iris-setosa
48           5.3          3.7           1.5          0.2      Iris-setosa
49           5.0          3.3           1.4          0.2      Iris-setosa
50           7.0          3.2           4.7          1.4  Iris-versicolor

In [17]:
iris.loc[:,["Sepal_Length","Sepal_Width"]]

     Sepal_Length  Sepal_Width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [18]:
cols_2_4=iris.columns[2:4]
iris[cols_2_4]

     Petal_Length  Petal-Width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

In [19]:
iris.isnull().any()

Sepal_Length    False
Sepal_Width     False
Petal_Length    False
Petal-Width     False
Species         False
dtype: bool

In [20]:
iris.isnull().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal-Width     0
Species         0
dtype: int64

In [21]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal-Width     float64
Species          object
dtype: object

In [22]:
df=iris
df['petal length(cm)']= iris['Petal_Length'].astype("int")

In [23]:
df1=df

In [24]:
df

,Sepal_Length,Sepal_Width,Petal_Length,Petal-Width,Species,petal length(cm)
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,5
146,6.3,2.5,5.0,1.9,Iris-virginica,5
147,6.5,3.0,5.2,2.0,Iris-virginica,5
148,6.2,3.4,5.4,2.3,Iris-virginica,5
149,5.9,3.0,5.1,1.8,Iris-virginica,5

           Data Normalization

In [25]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

In [26]:
x=iris.iloc[:,:4]

In [27]:
x

     Sepal_Length  Sepal_Width  Petal_Length  Petal-Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [28]:
x_scaled = min_max_scaler.fit_transform(x)

In [29]:
x_scaled = min_max_scaler.fit_transform(x)

In [30]:
df_normalized = pd.DataFrame(x_scaled)

In [31]:
df_normalized

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]

Handaling categorical variables

Label Encoder

In [32]:
df2=df1
df2['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [33]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()

In [34]:
features_df=df2.drop(columns=['Species'])

In [35]:
features_df

     Sepal_Length  Sepal_Width  Petal_Length  Petal-Width  petal length(cm)
0             5.1          3.5           1.4          0.2                 1
1             4.9          3.0           1.4          0.2                 1
2             4.7          3.2           1.3          0.2                 1
3             4.6          3.1           1.5          0.2                 1
4             5.0          3.6           1.4          0.2                 1
..            ...          ...           ...          ...               ...
145           6.7          3.0           5.2          2.3                 5
146           6.3          2.5           5.0          1.9                 5
147           6.5          3.0           5.2          2.0                 5
148           6.2          3.4           5.4          2.3                 5
149           5.9          3.0           5.1          1.8                 5

[150 rows x 5 columns]

In [36]:
enc_df=(enc.fit_transform(df2[['Species']])).toarray()

In [37]:
enc_df = pd.DataFrame(enc_df, columns = ['Iris-Setosa','Iris-Versicolor','Iris-virginica'])

In [38]:
df_encode = features_df.join(enc_df)

In [39]:
df_encode

,Sepal_Length,Sepal_Width,Petal_Length,Petal-Width,petal length(cm),Iris-Setosa,Iris-Versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,1,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,5,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,5,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,5,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,5,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,5,0.0,0.0,1.0